# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# RabbitMQ Configuration
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# JWT Configuration
JWT_KEY=YOUR_SUPER_SECRET_KEY_AT_LEAST_32_CHARS
JWT_ISSUER=ParkEase
JWT_AUDIENCE=ParkEaseApp

# Razorpay Configuration
RAZORPAY_KEY_ID=YOUR_RAZORPAY_KEY_ID
RAZORPAY_KEY_SECRET=YOUR_RAZORPAY_KEY_SECRET
RAZORPAY_WEBHOOK_SECRET=YOUR_WEBHOOK_SECRET

# Notification Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=YOUR_EMAIL@gmail.com
SMTP_PASSWORD=YOUR_APP_PASSWORD
SENDER_NAME=ParkEase
SENDER_EMAIL=YOUR_EMAIL@gmail.com
